:root {
    /*Colors*/

    /*Neutral*/
    --color-neutral-100: hsl(0, 0%, 100%);
    --color-neutral-200: hsl(0, 0%, 85%);
    --color-neutral-900: hsl(0, 0%, 0%);

    /*Typography*/

    /*Body Copy*/
    --fs-normal: 0.9375rem;
    --fs-title-1: 2.5rem;
    --fs-title-2: 2rem;
    --fs-title-3: 1.75rem;
    @media (min-width: 768px) {
        --fs-title-1: 3rem;
        --fs-title-2: 2.5rem;
        --fs-title-3: 2.25rem;
    }
    @media (min-width: 1024px) {
        --fs-title-1: 3.75rem;
        --fs-title-2: 3.25rem;
    }


    /*Fonts*/
    --ff-title: "Josefin Sans";
    --ff-normal: Alata;

    --fw-bold: 400;
    --fw-light: 300;

    /* breakpoints   */
    --breakpoint-mobile: 650px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1200px;

    /*  padding, margin, and gap  */
    --spacing-0: 0rem;
    --spacing-x-small: 0.25rem;
    --spacing-smaller: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-normal: 1rem;
    --spacing-large: 1.25rem;
    --spacing-larger: 1.5rem;
    --spacing-x-large: 1.75rem;
    --spacing-2: 2rem;
    --spacing-3: 3rem;
    --spacing-4: 4rem;

}

body {
    font-family: var(--ff-normal), sans-serif;
    font-size: var(--fs-normal);
    font-weight: var(--fw-bold);
    line-height: 1.5rem;
    min-height: 100vh;
    display: grid;

    h1 { font-size: var(--fs-title-1); }
    h2 { font-size: var(--fs-title-2); }
    h3 { font-size: var(--fs-title-3); }
    h1, h2, h3 {
        font-family: var(--ff-title), sans-serif;
        font-weight: var(--fw-light);
        line-height: 1.5ch;
        text-transform: uppercase;
    }
}

main {
    min-height: 100vh;
    background: url("/assets/images/mobile/image-hero.jpg") no-repeat center;
    background-size: cover;
    @media (min-width: 650px) {  background-image: url("/assets/images/desktop/image-hero.jpg");  }
}
.main-container {
    grid-template-rows: max-content; }
.main-container__header {
    display: flex;
    justify-content: space-between;
}
.main-container__title {
    --max-width: 300px;
    @media (min-width: 1024px) { --max-width: 500px; }

    align-self: center;
    display: inline-flex;
    border: 1px solid var(--color-neutral-100);
    padding: var(--spacing-large);
    width: min(100%, var(--max-width));
    color: var(--color-neutral-100);
}
.main-container__navbar {
    @media (max-width: 650px) {
        min-width: 100%;
        position: fixed;
        top: 0; bottom: 0; left: 0;
        z-index: 10;
        padding: var(--spacing-2);
        background-color: var(--color-neutral-900);

        /*  to make disappear the navbar smoothly for mobile device */
        margin-left: -100%;
        transition: all ease 500ms;
    }
}
.main-container__navbar ul {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-2);

    @media (min-width: 650px) {
        flex-direction: row;
    }
}


.navbar__close-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__links {
    color: var(--color-neutral-100);
    font-weight: var(--fw-bold);

    @media (max-width: 650px) {
        text-transform: uppercase;
        font-family: var(--ff-title), sans-serif;
        font-size: var(--fs-title-3);
        font-weight: var(--fw-light);
    }
    @media (min-width: 650px) {
        &::after {
            display: inline-block;
            content: "";
            width: 100%; height: 2px;
            transform: scale(0);
            margin-top: -4px;
        }
        &:is(:hover)::after {
            transition: all ease 500ms;
            transform: scale(1);
            background-color: var(--color-neutral-100);
        }
    }

}


.interactive-container {
    gap: var(--spacing-4);
    position: relative;
}
.interactive-container__component {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    text-align: center;

    @media (min-width: 1024px) {
        max-width: 50%;
        position: absolute;
        bottom: 0; right: 0;
        text-align: start;
        padding: var(--spacing-4) 0 0 var(--spacing-4);
        background-color: var(--color-neutral-100);
    }
}


.creation-container {
    grid-template-columns: 1fr;
    gap: var(--spacing-4);
    padding-block: var(--spacing-4);
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content repeat(2, max-content);
        .creation-container__title {
            grid-column: 1;
            grid-row: 1;
            justify-self: start; align-self: center;
        }
        .creation-container__link {
            grid-column: 2;
            grid-row: 1;
            justify-self: end; align-self: center;
        }
        .creation-container__component {
            grid-column: 1 / 3;
            grid-row: 2;
        }
    }
}
.creation-container__title {
    justify-self: center;
}
.creation-container__link {
    transition: all ease 500ms;
    justify-self: center; align-self: center;
    padding: var(--spacing-smaller) var(--spacing-2);
    border: 1px solid var(--color-neutral-900);
    text-transform: uppercase;
    letter-spacing: 0.75ch;
    &:hover {   background-color: var(--color-neutral-900);
        color: var(--color-neutral-100);
        font-weight: var(--fw-bold)}
}
.creation-container__grid-container {
    display: grid;
    gap: var(--spacing-2);

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, max-content);
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, max-content);
    }
}


.grid-container__list {
    --color-neutral-50: hsla(0, 100%, 100%, 0.5);

    cursor: pointer;
    display: inline-flex;
    align-items: flex-end;
    @media (max-width: 650px) {
        min-width: 100%; height: 200px;
    }
    @media (min-width: 650px) {
        min-height: 450px;
    }
    position: relative;
}
.grid-container__images {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    object-fit: cover; object-position: center;
    z-index: -1;
}
.grid-container__title {
    padding: var(--spacing-normal);
    color: var(--color-neutral-100);
}
.grid-container__list:hover {
    transition: all ease 500ms;
    background-color: var(--color-neutral-50);
    & > .grid-container__images {
        mix-blend-mode: multiply;
    }
}


footer {
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-100);
}
.footer-container__nav {
    display: grid;
    align-items: center;
    gap: var(--spacing-2);

    @media (min-width: 650px) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    p { color: var(--color-neutral-200); text-align: end; }
}
.footer-container__links-container {

    display: flex;
    gap: var(--spacing-normal);
    @media (max-width: 650px) {
        flex-direction: column;
    }
    @media (min-width: 650px) {
        grid-row: 2;
        grid-column: 1;
    }
}
.footer-container__social-media-container {
    @media (min-width: 650px) {
        grid-row: 1;
        grid-column: 2;
    }
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-normal);
}
.footer-container__social-media-container,
.footer-container__links-container,
.footer-container__logo,
.footer-container__nav {
    @media (max-width: 650px) {
        justify-self: center;
        text-align: center;
    }
}
.footer-container__links, .footer-container__social-media-links {
    &::after {
        display: inline-block;
        content: "";
        width: 100%; height: 2px;
        transform: scale(0);
        margin-top: -4px;
    }
    &:is(:hover)::after {
        transition: all ease 500ms;
        transform: scale(1);
        background-color: var(--color-neutral-100);
    }
}


/************************CUSTOMS CLASSES***************************************/
.hidden { display: none; }
.max-hidden { @media (max-width: 650px) {  display: none;  }}
.min-hidden { @media (min-width: 650px) {  display: none;  }}

.on-screen {
    /*  to make appear the navbar smoothly for mobile device */
    @media (max-width: 650px) {
        transition: all ease 500ms;
        margin-left: 0;
    }
}

.page-element {
    display: grid;
    padding: var(--spacing-3) var(--spacing-larger);
}
.container {
    width: min(100%, var(--breakpoint-desktop)); height: 100%;
    display: grid;
    justify-self: center;
}
.object-fit-top {
    @media (max-width: 650px) {
        object-position: top;
    }
}
